<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
    <link rel="icon" href="images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Contact Us Page</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/prettyPhoto.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/hoverIntent.js"></script>
    <script type="text/javascript" src="js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/ajax-mail.js"></script>
    <script type="text/javascript" src="js/accordion.settings.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="css/ie.css" type="text/css" rel="stylesheet"/>
    <![endif]-->
</head>

<body>

<!-- top menu -->
<section id="top-menu">
    <div class="container">
        <div class="row">
            <div class="span6 hidden-phone">
                <ul class="top-menu">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Shorcodes</a></li>
                    <li><a href="#" class="last">Contact</a></li>
                </ul>
            </div>
            <div class="span6">
                <ul class="top-social">
                    <li><a href="#" class="twitter2"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="google last"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="span4 logo">
                <a href="./index.html"><img src="images/logo.png" alt="logo"/></a>
            </div>
            <div class="span8 hidden-phone">
                <a href="./index.html" class="alignright banner">
                    <img src="images/banner-468-60.gif" alt="">
                </a>
            </div>
        </div>
        <nav id="menu">
            <ul class="clearfix">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">Page</a>
                    <ul>
                        <li><a href="./about.html">About Us</a></li>
                        <li class="last"><a href="./services.html" >Our Services</a></li>
                    </ul>
                </li>
                <li><a href="./portfolio2.html" >Portfolio</a>
                    <ul>
                        <li><a href="./portfolio2.html">Portfolio 2 col</a>
                            <ul>
                                <li><a href="./portfolio2.html">Portfolio 2 Columns</a></li>
                                <li class="last"><a href="./portfolio2ex.html">Portfolio 2 Columns Extended</a></li>
                            </ul>
                        </li>
                        <li><a href="./portfolio3.html">Portfolio 3 col</a>
                            <ul>
                                <li><a href="./portfolio3.html">Portfolio 3 Columns</a></li>
                                <li class="last"><a href="./portfolio3ex.html">Portfolio 3 Columns Extended</a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="./portfolio4.html">Portfolio 4 col</a>
                            <ul>
                                <li><a href="./portfolio4.html">Portfolio 4 Columns</a></li>
                                <li class="last"><a href="./portfolio4ex.html">Portfolio 4 Columns Extended</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a>
                    <ul>
                        <li><a href="./blog.html">Blog</a></li>
                        <li class="last"><a href="./blog_single.html">Blog Single</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html" class="current">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
            <section id="page-sidebar" class="alignrleft span8">
                <div class="title-divider">
                    <h3>Get In Touch</h3>
                    <div class="divider-arrow"></div>
                </div>
                <div class="block-grey">
                    <div class="block-light wrapper">
                        <article>
                            <h3>Contact Information</h3>
                            <p>
                                Etiam imperdiet, ante at porttitor rutrum, felis nisi pellentesque enim, vel viverra quam orci eu massa.
                                Integer commodo, velit eget dapibus tincidunt, mauris ligula porttitor sapien, eget rhoncus dolor mi eu velit.
                                Fusce mattis dui eu velit fringilla viverra. Aliquam non nibh non orci imperdiet venenatis.
                                Quisque varius orci a lacus adipiscing id tempus elit pharetra.
                            </p>
                        </article>
                        <hr>
                        <h3>Leave Your Message</h3>
                        <form name="contact" method="post" action="contact.html" class="af-form" id="af-form">
                            <div class="af-outer af-required">
                                <div class="af-inner">
                                    <label for="name" id="name_label">Your Name:</label>
                                    <input type="text" name="name" id="name" size="30" value="" class="text-input input-xlarge" />
                                    <label class="error" for="name" id="name_error">Name is required.</label>
                                </div>
                            </div>
                            <div class="af-outer af-required">
                                <div class="af-inner">
                                    <label for="email" id="email_label">Your Email:</label>
                                    <input type="text" name="email" id="email" size="30" value="" class="text-input input-xlarge" />
                                    <label class="error" for="email" id="email_error">Email is required.</label>
                                </div>
                            </div>
                            <div class="af-outer af-required">
                                <div class="af-inner">
                                    <label for="input-message" id="message_label">Your Message:</label>
                                    <textarea name="message" id="input-message" cols="30" class="text-input"></textarea>
                                    <label class="error" for="input-message" id="message_error">Message is required.</label>
                                </div>
                            </div>
                            <div class="af-outer af-required">
                                <div class="af-inner">
                                    <input type="submit" name="submit" class="form-button btn btn-large" id="submit_btn" value="Send Message!" />
                                </div>
                            </div>
                        </form>
            </div></div></section>
            <!--sidebar-->
            <aside id="sidebar" class="alignright span4">
                <!-- Search -->
                <section class="search clearfix">
                    <form id="search" class="input-append">
                        <input class="" id="appendedInputButton" size="16" type="text" value="Search..." name="search site"
                               onfocus="if(this.value=='Search...') this.value=''" onblur="if(this.value=='') this.value='Search...'"/>
                        <input class="btn search-bt" type="submit" name="submit" value="" />
                    </form>
                </section>
                <section class="block-grey">
                    <div class="block-light">
                        <iframe width="100%" scrolling="no" height="390" frameborder="0" src="https://maps.google.com/?ie=UTF8&amp;ll=35.960223,-95.712891&amp;spn=43.064638,86.572266&amp;t=m&amp;z=4&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
                    </div>
                </section>
                <!-- Recent Posts -->
                <div class="title-divider">
                    <h3>Recent Posts</h3>
                    <div class="divider-arrow"></div>
                </div>
                <section class="post-widget block-grey">
                    <ul class="clearfix block-light wrap15">
                        <li>
                            <a href="#"><img src="example/sidebar1.jpg" alt="photo"/></a>
                            <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                            <p><em>12 Apr 2012, 3 comments</em></p>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <a href="#"><img src="example/sidebar2.jpg" alt="photo"/></a>
                            <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                            <p><em>12 Apr 2012, 3 comments</em></p>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <a href="#"><img src="example/sidebar3.jpg" alt="photo"/></a>
                            <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                            <p><em>12 Apr 2012, 3 comments</em></p>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>    
</section>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Flickr Photos</h3>
                <ul class="flickr clearfix"></ul>
            </div>
            <div class="span4">
                <h3>Last Tweet</h3>
                <div class="twitter"></div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        //twitter
                        $(".twitter").tweet({
                            join_text: "auto",
                            username: "twitter",
                            avatar_size: 40,
                            count: 3,
                            auto_join_text_default: "we said,",
                            auto_join_text_ed: "we",
                            auto_join_text_ing: "we were",
                            auto_join_text_reply: "we replied",
                            auto_join_text_url: "we were checking out",
                            loading_text: "loading tweets..."
                        });
                    });
                </script>
            </div>
            <div class="span4">
                <h3>Contact Form</h3>
                <form id="contact" class="form-horizontal" method="post">
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Name" name="inputName">
                        <label class="ferror" for="inputName" id="fname_error">Name is required.</label>
                    </div>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email" name="inputEmail">
                        <label class="ferror" for="inputEmail" id="femail_error">Email is required.</label>
                    </div>
                    <div class="controls">
                        <textarea rows="3" id="inputMessage" placeholder="Message" name="inputMessage"></textarea>
                        <label class="ferror" for="inputMessage" id="fmessage_error">Message is required.</label>
                    </div>
                    <div class="controls">
                        <input type="submit" class="btn btn-success btn-large footer-button" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <p class="span12"><span>&copy; Copyright 2012, <span class="color2">CITYpress</span> | All Rights Reserved</span></p>
        </div>
    </div>
</section>
</body>
</html>